<pre>
       /$$ /$$                                /$$  
      | $$| $$                              /$$$$  
  /$$$$$$$| $$$$$$$      /$$$$$$  /$$   /$$|_  $$  
 /$$__  $$| $$__  $$    /$$__  $$| $$  | $$  | $$  
| $$  | $$| $$  \ $$   | $$$$$$$$| $$  | $$  | $$  
| $$  | $$| $$  | $$   | $$_____/| $$  | $$  | $$  
|  $$$$$$$| $$$$$$$//$$|  $$$$$$$|  $$$$$$/ /$$$$$$
\_______/|_______/|__/ \_______/ \______/ |______/
                                              
                                              
</pre>
<h2>Приглашение присоединиться</h2>
<p>Здравствуйте,</p>
<p>
    Вас приглашают присоединиться к нашему сервису (). Чтобы принять
    приглашение, нажмите на кнопку ниже:
</p>
<p><a href="{{ .ConfirmationURL }}">Принять приглашение</a></p>
<p>Если вы не запрашивали это письмо, просто проигнорируйте его.</p>
<p>
    С уважением,<br />Худалла Андрей<br />Если у вас возникли вопросы, отправьте
    их ответным письмом
</p>
