<pre>
       /$$ /$$                                /$$  
      | $$| $$                              /$$$$  
  /$$$$$$$| $$$$$$$      /$$$$$$  /$$   /$$|_  $$  
 /$$__  $$| $$__  $$    /$$__  $$| $$  | $$  | $$  
| $$  | $$| $$  \ $$   | $$$$$$$$| $$  | $$  | $$  
| $$  | $$| $$  | $$   | $$_____/| $$  | $$  | $$  
|  $$$$$$$| $$$$$$$//$$|  $$$$$$$|  $$$$$$/ /$$$$$$
\_______/|_______/|__/ \_______/ \______/ |______/
                                              
                                              
</pre>

<h2>Сброс пароля</h2>
<p>Здравствуйте,</p>
<p>
    Мы получили запрос на сброс пароля для вашего аккаунта. Если это были вы,
    нажмите на кнопку ниже, чтобы установить новый пароль:
</p>
<p><a href="{{ .ConfirmationURL }}">Сбросить пароль</a></p>
<p>Если вы не запрашивали сброс пароля, просто проигнорируйте это письмо.</p>
<p>
    С уважением,<br />Худалла Андрей<br />Если у вас возникли вопросы, отправьте
    их ответным письмом
</p>
